body {
    margin: 0;
}

.game {
    background-color: #380700;
    background-image: url("../image/black-felt.png");
    background-repeat: repeat;
    width: 100%;
    height: 100vh;
    background-size: 100% 100vh;
}

.green {
    color: green !important;
}
.red {
    color: red;
}

.score {
    font-size: 24px;
    font-family: monospace;
    color: beige;
    margin-left: 8px;
}

.slime-idle {
    background-image: url("../image/slime_idle2.png");
    background-position-x: 0;
    scale: 4;
    width: 80px;
    height: 72px;
    animation: idleSpriteAnimation 0.4s steps(7) infinite;
    margin: 0 auto;
}

@keyframes idleSpriteAnimation {
    from { background-position-x: 0; }
    to { background-position-x: -560px; }
}

.slime-die {
    background-image: url("../image/slime_die.png");
    background-position-x: 0;
    scale: 4;
    width: 80px;
    height: 72px;
    animation: dieSpriteAnimation 0.8s steps(12) 2 forwards;
    margin: 0 auto;
}

@keyframes dieSpriteAnimation {
    from { background-position-x: 0; }
    to { background-position-x: -960px; }
}

.bee-idle {
    background-image: url("../image/bee_spritesheet.png");
    background-position-x: -1px;
    scale: 4;
    width: 25px;
    height: 30px;
    animation: beeIdlespriteAnimation 0.4s steps(4) infinite;
    margin: 0 auto;
}
@keyframes beeIdlespriteAnimation {
    from { background-position-x: -1px; }
    to { background-position-x: -101px; }
}

.bee-die {
    background-image: url("../image/bee_spritesheet.png");
    background-position-x: -36px;
    scale: 4;
    width: 36px;
    height: 30px;
    animation: beeDiespriteAnimation 0.8s steps(8) 1 forwards;
    margin: 0 auto;
}
@keyframes beeDiespriteAnimation {
    from { background-position-x: -1px; }
    to { background-position-x: -289px; }
}
